.heading{
    text-align: center;
    margin-top: 5%;
    font-family: "Inter";
}
.button{
        text-align: center;
}
#save{
    width: 100%;
    text-align: center;
}
.indent{
    margin-left: 5vw;
}
@font-face {
    font-family: Inter;
    src: local("Inter"), url(../assets/fonts/Inter/Inter-SemiBold.ttf) format("truetype");}