.heading{
    text-align: center;
    margin-top: 5%;
    font-family: "Inter";
}
.body{
    text-align: center;
}
.button{
        text-align: center;
}
#save{
    width: 100%;
    text-align: center;
}
.indent{
    margin-left: 5vw;
}
#inline{
    display: inline;
}
.spacing{
    padding:1vh;
    padding-top: 1vh;
    margin:auto;
}
@font-face {
    font-family: Inter;
    src: local("Inter"), url(../assets/fonts/Inter/Inter-SemiBold.ttf) format("truetype");}